# Core functionality - changes here should be rare!
/src/app.py                   @asserben
/src/backend/database.py      @asserben
/src/backend/routers/auth.py  @asserben

# The frontend will need refactored soon to be more object oriented.
/src/static/   @asserben
